
@{
    ViewData["Title"] = "Add new Student";
}

@*show form if they are not added*@
@if (ViewData["Added"] == null)
{
    <h1>Add new Student</h1>

    @* create html form to add data to class*@

    @*
        get: great for bookmarking a page - populates in the internet history
        post: send data without putting it in the url
    *@
<form method="post">
    @*inputs for all the properties*@

    <div class="form-group">
        <label>Full Name:</label>
        <input class="form-control" type="text" name="full-name" />
    </div>

    <div class="form-group">
        <label>Date of Birth:</label>
        <input class="form-control" type="text" name="dob" />
    </div>

    <div class="form-group">
        <label>Student Email:</label>
        <input class="form-control" type="text" name="email" />
    </div>

    <div class="form-group">
        <label>Phone Number:</label>
        <input class="form-control" type="text" name="phone" />
    </div>

    @*submit form*@
    <input type="submit" value="Add Student" />
</form>

}
else /*form has been added*/
{
    <div class="alert alert-success">
        @ViewData["Added"]
    </div>
}
